.content {
    position: relative;
    padding: 25px;
}

#profile {
    width: 75%;
}

#projects {
    margin-top: 110px;
}
.center {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.img-link {
    text-decoration: none;
}

.image-container {
    width: auto;
    height: 450px;
}

.image {
    max-height: 100%;
    max-width: 100%;
}

.text-content {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    height: 450px;
    line-height: 450px;
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

a:hover .text-content {
    display: inline;
}