.header {
    position: fixed;
    top: 0;
    height: 3.8rem;
    width: 100%;
    line-height: 3.8rem;
    font-family: 'Muli', sans-serif;
    border-bottom: 3px solid #eee;
    background-color: white;
    z-index: 999;
    opacity: 0.95;
    text-align: center;
}

.brand {
    position: relative;
    top: 0.45em;
    left: 0.45em;
}

.name {
    font-size: 35px;
    margin-left: 25px;
    font-family: 'Muli', sans-serif;
}

.nav-btn-container {
    position: absolute;
    right: 40px;
}

.nav-btn {
    display: inline-block;
    width: 50px;
    margin: 0 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    line-height: 60px;
    border-top: 3px solid #eee;
    background-color: white;
    z-index: 999;
    opacity: 0.95;
}

.github-icon {
    width: 24px;
    height: 24px;
}

.linkedin-icon {
    width: 80px;
    height: auto;
}

.icon {
    display: inline-block;
    margin: 0 10px;
}