.nav {
    background-color:#ff9900;
    height: 3.5em;
    line-height: 3.5em;
    color: white;
    font-family: sans-serif;
}

.brand {
    position: relative;
    top: 0.45em;
    left: 0.45em;
}

.nav-btn-container {
    float: right;
}

.nav-btn {
    display: inline-block;
    width: 50px;
    margin: 0 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    line-height: 90px;
    border-top: 3px solid #eee;
}